%ul.breadcrumb
  %li
    = link_to(t('decks.index.title'), decks_path)
    %span.divider /
  %li
    = link_to(@card.deck, deck_path(@card.deck))
    %span.divider /
  %li= title @card

.btn-group
  = link_to bootstrap_icon('edit') + ' ' + t('.edit'), edit_card_path(@card), rel: 'edit-card', class: 'btn'

= render 'card', card: @decorated_card
