= title t('.title')

= semantic_form_for @deck, as: :deck, url: decks_path do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :name, hint: t('.name_hint')
  = f.actions do
    = f.action :submit, button_html: { class: 'primary' }
