%ul.breadcrumb
  %li
    = link_to(t('decks.index.title'), decks_path)
    %span.divider /
  %li= title @deck

.btn-group
  = link_to bootstrap_icon('plus') + t(:new_card), new_card_path(deck_id: @deck.id), rel: 'new-card', class: 'btn'
  = link_to bootstrap_icon('refresh') + t('.review'), review_deck_path(@deck), rel: 'review-deck', class: 'btn'

%table.table.table-striped.cards
  %thead
    %tr
      %th Name
  %tbody
    - @cards.each do |card|
      %tr
        %td.name= link_to(card.name, card_path(card))
