<!DOCTYPE html>
<html>
  <head>
    <title>OpenCurriculum Flashcards</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">OpenCurriculum Flashcards</a>
        </div>
      </div>
    </div>
    <div class='container-fluid'>
      <%= show_flash %>
      <%= yield %>
    </div>
  </body>
</html>
